@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-shadow {
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    }
  }
  
  @keyframes shrink {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  .animate-shrink {
    animation: shrink 0.3s linear forwards;
  }
  

  @keyframes grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-grow {
    animation: grow 0.3s linear forwards;
  }
  